.player>.fuka{
	font-family: 'xinwei';
	width: 100%;
	height: 100%;
	line-height: 50px;
	left: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	background-repeat: no-repeat;
	font-size: 50px;
	opacity: 0;
	pointer-events: none;
	text-shadow: none;
	background: none; /*符卡底图，原先是black*/
	top: 0;
	border-radius: 8px;
	color: rgba(255,255,255,0.8);
	text-shadow: none;
}

.player>.fuka>div{
	top:calc(50% - 50px);
    width: 100%;
    left: 0;
}

#arena.hide_fuka .player.fukaover>.fuka{
	display: none	!important
}

.fukaover>div {
	opacity: 1;
}
.fukaover>.identity,
.fukaover>.framebg,
.fukaover>.marks,
.fukaover>.judges {
	opacity: 0.7;
}

#window[data-radius_size='reduce'] .player>.fuka,
#window[data-radius_size='off'] .player>.fuka,
#window[data-radius_size='increase'] .player>.fuka,